<!-- <p>login works!</p> -->
<div class="bg">
  <div class="overlay"></div> 
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...!">
    
    <div class="parent">
      <div class="child">
        <div nz-row class="imgDiv">
          <div nz-col nzSpan=24>
            <h1 style="margin-left: 133px;">Login</h1>
          </div>
        </div>
        <form nz-form [formGroup]="loginForm">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please enter your email...">
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input placeholder="Email" formControlName="email"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please enter your password...">
              <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input placeholder="Password" formControlName="password"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="login()" [disabled]="loginForm.invalid">Log in</button>
          Or <a routerLink="/register">Sign up!</a>
        </form>
      </div>
    </div>
  </nz-spin>
</div>
<div class="error-message" *ngIf="loginError">{{ loginError }}</div>
