<img src="../../../../assets/Home.jpg" alt="Carzillac Car Rental Home" class="responsive-image">
<img src="../../../../assets/About.jpg" alt="Carzillac Car Rental Home" class="responsive-image">
<img src="../../../../assets/Services.jpg" alt="Carzillac Car Rental Home" class="responsive-image">
<img src="../../../../assets/Testimonials.jpg" alt="Carzillac Car Rental Home" class="responsive-image">
<img src="../../../../assets/Contact.jpg" alt="Carzillac Car Rental Home" class="responsive-image">
